@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

@theme{
    --font-inter: "Inter", sans-serif;
    --font-jakarta:"Plus Jakarta Sans", sans-serif;

    --color-utama: #08272A;
    --color-kedua: #E4FFCE;
    --color-putih: #FEFEFE;
    --color-hitam: #0C0C0C;
    --color-abu300: #5C5C5C;
    --color-abu200: #8F8F8F;
    --color-abu100: #DBDBDB;
    --color-hover: #3A8200;
}

@layer base{
    html{
        scroll-behavior: smooth;
    }
}

@layer components{
    /* TEXT */
    .font-s{
        @apply font-inter text-[12px] md:text-[14px] lg:text-[16px];
    }

    .font-m{
        @apply font-inter text-[14px] md:text-[16px] lg:text-[20px];
    }

    .font-l{
        @apply font-inter text-[16px] md:text-[20px] lg:text-[24px];
    }

    .header2{
        @apply font-jakarta font-bold text-2xl md:text-[28px] lg:text-[32px];
    }

    .header1{
        @apply font-jakarta font-bold text-[28px] md:text-[32px] lg:text-[52px];
    }


    /* BUTTON */
    /* Base */
    .btn{
        @apply font-inter font-semibold flex justify-center items-center rounded-md cursor-pointer px-4 py-3 text-[14px] md:px-6 md:py-3 md:text-[16px] md:rounded-lg lg:px-8 lg:py-5 lg:text-[20px] lg:rounded-xl;
    }

    /* Variant */
    .btn-primary{
        @apply  bg-utama text-kedua hover:bg-[#2D7E86];
    }

    .btn-text{
        @apply text-utama bg-transparent hover:text-[#3D8700];
    }

    .btn-outlined{
        @apply  text-utama border-2 border-utama bg-transparent hover:bg-kedua;
    }
    


    /* SOCIAL PROOF PADDING */
    .social-proof{
        @apply h-9 w-9 sm:h-16 sm:w-16 md:h-16 md:w-16 lg:h-28 lg:w-28;
    }


    
    /* CARDS */
    /* Impact */
    .card-impact{
        @apply p-5 flex flex-col gap-4 bg-linear-to-b from-[#CEEAED]/50 to-[#CEEAED]/10 rounded-xl flex-1 md:p-6;
    }

    /* Pricing */
    .card-pricing{
        @apply flex flex-col justify-between gap-4 p-4 rounded-2xl ;
    }

    /* Testimonials */
    .card-testimonial{
        @apply min-w-100 flex flex-col justify-between gap-6 rounded-xl bg-kedua p-6 font-inter;
    }


    /* SCROLL BAR */
    .hide-scroll-bar{
        scrollbar-width: none;
    }
}

